@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
:root {
  --primaryColour: #006064;
  --secondaryColour: #FFFFFF;
  --thirdColour: #000000;
  --detailingColor: #428E92;
  --fontFamily: "Playfair Display", serif;
  /* --- Font Informations Per Component --- */
  /* --- Navbar --- */
  --fontSizeNavbarLogo: 16px;
  --fontSizeNavbarLinks: 12px;
  --fontWeightNavbarLogo: 500;
  --fontWeightNavbarLinks: 400;
  /* --- TextSection --- */
  --fontSizeTextSectionTitle: 24px;
  --fontSizeTextSectionParagraph: 16px;
  --fontWeightTextSectionTitle: 500;
  --fontWeightTextSectionParagraph: 400;
  --lineHeightTextSectionTitle: 32px;
  --lineHeightTextSectionParagraph: 24px;
  /* --- InfoSection --- */
  --fontSizeInfoSectionTitle: 24px;
  --fontSizeInfoSectionParagraph: 16px;
  --fontWeightInfoSectionTitle: 500;
  --fontWeightInfoSectionParagraph: 400;
  --lineHeightInfoSectionTitle: 32px;
  --lineHeightInfoSectionParagraph: 24px;
  /* --- Swiper Carousel --- */
  --fontSizeCarousel: 24px;
  --fontWeightCarousel: 500;
  /* --- Card --- */
  --fontSizeCardButton: 16px;
  --fontSizeCardTitle: 20px;
  --fontSizeCardParagraph: 16px;
  --fontWeightCardButton: 500;
  --fontWeightCardTitle: 500;
  --fontWeightCardParagraph: 400;
  --lineHeightCardParagraph: normal;
  /* --- Footer --- */
  --fontSizeFooterButton: 12px;
  --fontSizeFooterInput: 12px;
  --fontSizeFooterModalParagraph: 16px;
  --fontSizeFooterModalTitle: 24px;
  --fontSizeFooterParagraph: 12px;
  --fontSizeFooterTitle: 24px;
  --fontWeightFooterButton: 400;
  --fontWeightFooterInput: 400;
  --fontWeightFooterModalParagraph: 400;
  --fontWeightFooterModalTitle: 500;
  --fontWeightFooterParagraph: 400;
  --fontWeightFooterTitle: 500;
  --lineHeightModalParagraph: 2rem;
}

.card {
  cursor: pointer;
  display: grid;
  row-gap: 32px;
  width: 368px;
}
.card h3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeCardTitle);
  font-weight: var(--fontWeightCardTitle);
  text-align: center;
}
.card img {
  border-radius: 4px;
  height: 368px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 368px;
  transition: all ease-in-out 0.2s;
}
.card img:hover {
  box-shadow: 0px 0px 8px var(--primaryColour);
  transform: scale(1.01);
}
.card p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeCardParagraph);
  font-weight: var(--fontWeightCardParagraph);
  height: var(--lineHeightCardParagraph);
  line-height: var(--lineHeightCardParagraph);
  margin-bottom: 2px;
  overflow: hidden;
  text-align: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card button {
  background: none;
  border: none;
  color: var(--detailingColor);
  font-style: italic;
  font-size: var(--fontSizeCardButton);
  font-weight: var(--fontWeightCardButton);
  padding: 8px;
  text-align: start;
}
.card button:hover {
  color: var(--primaryColour);
  border-bottom: solid var(--primaryColour) 2px;
}/*# sourceMappingURL=Card.css.map */