@import '../abstrats.scss';

.card{
    cursor: pointer;
    display: grid;
    row-gap: 32px;
    width: 368px;
    h3{
        @include noSelection;
        font-family: var(--fontFamily);
        font-size: var(--fontSizeCardTitle);
        font-weight: var(--fontWeightCardTitle);
        text-align: center;
    }
    img{
        border-radius: 4px;
        height: 368px;
        object-fit: cover;
        object-position: center center;
        width: 368px;
        transition: all ease-in-out 0.2s;
        &:hover{
            box-shadow: 0px 0px 8px var(--primaryColour);
            transform: scale(1.01);
        }
    }
    p{
        @include noSelection;
        display: -webkit-box;
        font-family: var(--fontFamily);
        font-size: var(--fontSizeCardParagraph);
        font-weight: var(--fontWeightCardParagraph);
        height: var(--lineHeightCardParagraph);
        line-height: var(--lineHeightCardParagraph);
        margin-bottom: 2px;
        overflow: hidden;
        text-align: center;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    button{
        background: none;
        border: none;
        color: var(--detailingColor);
        font-style: italic;
        font-size: var(--fontSizeCardButton);
        font-weight: var(--fontWeightCardButton);
        padding: 8px;
        text-align: start;
        &:hover{
            color: var(--primaryColour);
            border-bottom: solid var(--primaryColour) 2px;
        }
    }
}