@import '../abstrats.scss';

main{
    .videoSection{
        video{
            height: 100vh;
            object-fit: cover;
            object-position: center center;
            width: 100%;
        }
    }
}