@import '../abstrats.scss';

header{
    nav{
        @include displayGridInLine();
        background-color: var(--primaryColour);
        height: 100px;
        h1{
            @include noSelection;
            color: var(--secondaryColour);
            font-family: var(--fontFamily);
            font-size: var(--fontSizeNavbarLogo);
            font-weight: var(--fontWeightNavbarLogo);
            padding: 0px 0px 0px 64px;
        }
        ul{
            @include displayGridInLine();
            padding: 0px 64px 0px 0px;
            li{a{
                    @include noSelection;
                    color: var(--secondaryColour);
                    font-family: var(--fontFamily);
                    font-size: var(--fontSizeNavbarLinks);
                    font-weight: var(--fontWeightNavbarLinks);
                    padding: 8px;
                    &:hover{
                        background-color: var(--detailingColor);
                        transition: all ease 0.2s;
                    }
                }
            }
        }
    }
}