@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

:root{
    --primaryColour: #006064;
    --secondaryColour: #FFFFFF;
    --thirdColour: #000000;
    --detailingColor: #428E92;

    --fontFamily: 'Playfair Display', serif;

    /* --- Font Informations Per Component --- */

    /* --- Navbar --- */

    --fontSizeNavbarLogo: 16px;
    --fontSizeNavbarLinks: 12px;
    --fontWeightNavbarLogo: 500;
    --fontWeightNavbarLinks: 400;

    /* --- TextSection --- */

    --fontSizeTextSectionTitle: 24px;
    --fontSizeTextSectionParagraph: 16px;
    --fontWeightTextSectionTitle: 500;
    --fontWeightTextSectionParagraph: 400;
    --lineHeightTextSectionTitle: 32px;
    --lineHeightTextSectionParagraph: 24px;

    /* --- InfoSection --- */

    --fontSizeInfoSectionTitle: 24px;
    --fontSizeInfoSectionParagraph: 16px;
    --fontWeightInfoSectionTitle: 500;
    --fontWeightInfoSectionParagraph: 400;
    --lineHeightInfoSectionTitle: 32px;
    --lineHeightInfoSectionParagraph: 24px;

    /* --- Swiper Carousel --- */

    --fontSizeCarousel: 24px;
    --fontWeightCarousel: 500;

    /* --- Card --- */

    --fontSizeCardTitle: 20px;
    --fontSizeCardParagraph: 16px;
    --fontWeightCardTitle: 500;
    --fontWeightCardParagraph: 400;
    --fontWeightCardLastParagraph: 500;
    --lineHeightCardParagraph: normal;

    /* --- Footer --- */

    --fontSizeFooterButton: 12px;
    --fontSizeFooterInput: 12px;
    --fontSizeFooterTitle: 24px;
    --fontSizeFooterParagraph: 12px;
    --fontWeightFooterButton: 400;
    --fontWeightFooterInput: 400;
    --fontWeightFooterTitle: 500;
    --fontWeightFooterParagraph: 400;
}

@mixin noSelection{
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin enabledSelection{
    -webkit-touch-callout: initial; 
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

@mixin displayGridInLine{
    align-items: center;
    column-gap: 32px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

@mixin displayGridInColumn{
    align-items: center;
    column-gap: 32px;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
}

@mixin animation{
    animation: diagonalMoviment 2s infinite;
    @keyframes diagonalMoviment{
        0%, 100%{
            -webkit-transform:rotate(15deg);
            -moz-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            transform: rotate(15deg);
        }
        50%{
            -webkit-transform:rotate(-15deg);
            -moz-transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
    }
}