@import '../abstrats.scss';

main{
    .textSection{
        @include displayGridInLine;
        height: 100vh;
        padding: 64px;
        img{
            @include noSelection;
            height: 360px;
            object-fit: cover;
            object-position: center center;
            width: 360px;
            @include animation;
        }
        .text{
            display: grid;
            row-gap: 32px;
            h2{
                @include noSelection;
                font-family: var(--fontFamily);
                font-size: var(--fontSizeTextSectionTitle);
                font-weight: var(--fontWeightTextSectionTitle);
                line-height: var(--lineHeightTextSectionTitle);
                text-align: center;
            }
            p{
                @include noSelection;
                font-family: var(--fontFamily);
                font-size: var(--fontSizeTextSectionParagraph);
                font-weight: var(--fontWeightTextSectionParagraph);
                line-height: var(--lineHeightTextSectionParagraph);
                text-align: center;
            }
        }
    }
}