@import '../abstrats.scss';

body.activeModal{overflow-y: hidden}

footer{
    @include displayGridInColumn;
    background-color: var(--primaryColour);
    justify-content: center;
    padding: 64px;
    row-gap: 64px;
    p{
        @include noSelection;
        color: var(--secondaryColour);
        font-family: var(--fontFamily);
        font-size: var(--fontSizeFooterParagraph);
        font-style: italic;
        font-weight: var(--fontWeightFooterParagraph);
        text-align: center;
    }
    .newsletter{
        @include displayGridInLine;
        justify-content: center;
        h2{
            @include noSelection;
            font-family: var(--fontFamily);
            font-size: var(--fontSizeFooterTitle);
            font-weight: var(--fontWeightFooterTitle);
            text-align: center;
        }
        .inputAndButton{
            display: grid;
            grid-auto-flow: column;
            column-gap: 2px;
            input{
                @include noSelection;
                height: 56px;
                outline: none;
                padding: 0px 16px;
                &::placeholder{
                    color: rgba(0, 0, 0, 0.5);
                    font-family: var(--fontFamily);
                    font-size: var(--fontSizeFooterInput);
                    font-style: italic;
                    font-weight: var(--fontWeightFooterInput);
                }
            }
            button{
                @include noSelection;
                background-color: var(--thirdColour);
                color: var(--secondaryColour);
                cursor: pointer;
                font-family: var(--fontFamily);
                font-size: var(--fontSizeFooterButton);
                font-weight: var(--fontWeightFooterButton);
                height: 56px;
                padding: 0px 16px;
            }
        }
    }
    .footerModal{
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0px;
        display: flex;
        height: 100vh;
        justify-content: center;
        left: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        z-index: 500;
        .footerModalContent{
            background-color: var(--primaryColour);
            display: grid;
            justify-items: center;
            max-width: 640px;
            padding: 64px;
            row-gap: 64px;
            width: 100%;
            h3{
                color: white;
                font-family: var(--fontFamily);
                font-size: 24px;
                font-weight: 500;
            }
            p{
                color: white;
                font-family: var(--fontFamily);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 2rem;
            }
            button{
                background-color: white;
                border: none;
                font-family: var(--fontFamily);
                font-size: 16px;
                font-weight: 500;
                padding: 16px;
            }
        }
    }
}